body{
	background: black;
	background-image: url(http://www.doyoucity.com/site_media/entradas/imgs/ffgeg.jpg);
	color: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
a{
	color: #2F6699;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	text-decoration-color: #2F6699; 
}
#header{
	background: black;
	color: white;
	margin: 0px;
	padding: 1.5em;
}
#header a{
	color: white;
	font-family:  'Prompt', sans-serif;
	font-size: 14px;
}
#header a:hover{
	text-decoration: underline;
}
.space-left{
	margin-left: 1em;
}
#container{
	width: 80%;
	padding: 0;
	text-align: center;
	border: 0px solid #333;
	margin: 0 auto;
}
#title{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}
#trunk p{
	font-family: 'Arial';
	font-size: 14px;
	line-height: 23px;
}
#video{
	margin-top: 90px;
}
#footer{
	background: black;
	color: white;
	margin: 0px;
	padding: 1em;
	margin-top: 12em;
}
#footer a{
	color: white;
	font-family:  'Prompt', sans-serif;
	font-size: 11px;
	margin-left: 1.5em;
}
#footer a:hover{
	text-decoration: underline;
}
#footer .wall{
	font-size: 11px;
	color: gray;
	margin: 5px;
}
